.pagination {
  width: 100%;
  padding: 0rem 5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  @media only screen and (max-width: $bp-small) {
    padding: 0rem 2rem;
    margin-bottom: 2rem;
  }
  &__btn {
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    border: none !important;
    background-color: var(--color-White-Dark-Mode-Text-and-Light-Mode-Elements);
    box-shadow: 0 6px 12px -2px #32325d40, 0 3px 7px -3px #0000004d;
    color: inherit !important;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    @media only screen and (max-width: $bp-small) {
      font-size: 1.6rem;
      padding: 1.6rem 3rem;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
}
